.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.r-overflow-1udh08x{
  background-color: #D61C4E !important;
}

.r-flex-13awgt0{
  background-color: #293462 !important;
}

.css-cursor-18t94o4 {
  background-color: #D61C4E !important;
}
/* css-view-1dbjc4n r-left-1d2f490 r-pointerEvents-105ug2t */